# Importing the necessary dependencies

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

# Importing the dataset

In [2]:
df = pd.read_csv('C:/Users/Hemant/jupyter_codes/ML Project 1/Credit card fraud detection/creditcard.csv')

In [3]:
#print fisrt 5 rows of the dataset
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
#print the last 5 rows of the dataset
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
#shape of the dataset
df.shape

(284807, 31)

In [6]:
#dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
#distribution of class values
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This dataset is highly unbalanced as the number of fraud cases are much much smaller than legit transactions.

0 ----> legit transactions
1 ----> fraud transactions

In [8]:
#separating the data for analysis
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [9]:
print(legit.shape, fraud.shape)

(284315, 31) (492, 31)

In [10]:
#stastical measures of the dataset
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
#compare the values for both transactions
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Under Sampling

Build a sample dataset containing similar distributions of normal and fraudlent transactions.

No. of fraudlent transactions ---> 492

In [13]:
legit_sample = legit.sample(n = 492)

In [14]:
#concatenate two dataframes
new_df = pd.concat([legit_sample, fraud], axis = 0)

In [15]:
#print first 5 rows
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
201083,133724.0,2.007573,-0.568672,-0.007349,0.281362,-0.682062,0.428208,-1.111122,0.175792,1.829276,...,0.174639,0.817751,0.065249,-1.030106,-0.195873,-0.193479,0.083835,-0.032900,4.99,0
110536,71862.0,1.401877,-1.602284,-0.381538,-3.636721,0.275789,3.613444,-2.033591,1.047634,1.775723,...,-0.216974,0.129722,-0.135476,1.033493,0.690512,-0.555035,0.163828,0.036773,8.52,0
127050,78191.0,1.331226,0.212254,-0.410613,0.178231,0.478241,0.228627,-0.087763,0.084547,-0.026274,...,-0.354738,-1.081444,-0.091804,-1.454164,0.397537,0.185781,-0.033067,0.002257,3.59,0
190973,129055.0,1.932565,0.003544,-1.780653,0.263386,1.007320,0.625080,-0.063960,0.209158,0.476116,...,-0.272622,-0.566306,0.438884,-0.440469,-0.497583,0.265825,-0.009127,-0.041096,1.98,0
59114,48699.0,1.170113,0.197270,0.833754,1.139124,-0.606796,-0.631943,-0.144266,-0.137402,0.176859,...,0.154765,0.504230,-0.110932,0.428483,0.558287,-0.301963,0.046313,0.036845,24.99,0

In [16]:
#print last 5 rows
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [17]:
#shape of new_df
new_df.shape

(984, 31)

In [18]:
#distribution of class values
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
#compare the values for both transactions
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94496.894309,-0.008246,-0.098735,0.047498,-0.154937,0.017776,-0.044151,-0.004815,-0.095068,-0.027786,...,0.059857,-0.021610,0.035271,0.015186,0.012549,-0.015320,0.022590,0.018770,0.018825,97.275467
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into features and targets

In [20]:
X = new_df.drop('Class', axis = 1)
Y = new_df['Class']

In [21]:
print(X.shape, Y.shape)

(984, 30) (984,)

# Train and test data and model evaluation

In [22]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = .2, stratify = Y, random_state = 2)

In [23]:
print(x_train.shape, x_test.shape)
print(y_train.shape, y_test.shape)

(787, 30) (197, 30)
(787,) (197,)

Model evaluation

Logistic regression

In [24]:
model = LogisticRegression()

In [25]:
#training the model
model.fit(x_train, y_train)

LogisticRegression()

Model evaluation

Accuracy score

In [26]:
#on training data
training_prediction = model.predict(x_train)

training_accuracy = accuracy_score(training_prediction, y_train)
print('THE TRAINING ACCURACY IS :', training_accuracy)

THE TRAINING ACCURACY IS : 0.9313850063532402

In [27]:
#on testing data
testing_prediction = model.predict(x_test)

testing_accuracy = accuracy_score(testing_prediction, y_test)
print('THE TRAINING ACCURACY IS :', testing_accuracy)

THE TRAINING ACCURACY IS : 0.8934010152284264

# Building a predictive system

In [29]:
model_input = input()

input_list = [float(i) for i in model_input.split(',')]

input_array = np.asarray(input_list)

reshaped_array = input_array.reshape(1, -1)

prediction = model.predict(reshaped_array)
if prediction == 1:
    print('\nTHIS IS A CASE OF FRAUDLENT TRANSACTION')
else:
    print('THE IS A LEGIT TRANSACTION')

406,-2.3122265423263,1.95199201064158,-1.60985073229769,3.9979055875468,-0.522187864667764,-1.42654531920595,-2.53738730624579,1.39165724829804,-2.77008927719433,-2.77227214465915,3.20203320709635,-2.89990738849473,-0.595221881324605,-4.28925378244217,0.389724120274487,-1.14074717980657,-2.83005567450437,-0.0168224681808257,0.416955705037907,0.126910559061474,0.517232370861764,-0.0350493686052974,-0.465211076182388,0.320198198514526,0.0445191674731724,0.177839798284401,0.261145002567677,-0.143275874698919,0

THIS IS A CASE OF FRAUDLENT TRANSACTION